</br>
<div class="page-header">
	<h2>{{title}}</h2>
</div>
<div  ng-repeat="message in messeges" >
	 <div    role="alert" class="{{message.messageClass}} fadein fadeout"><strong>{{message.strong}} </strong>{{message.message}}</div>
</div>
<div class="row">
	<div class="col-md-9">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="teste" class="col-sm-3 control-label">User:</label>
				<div class="col-sm-9">
					<input id="user" ng-model="user" type="text" class="form-control" />
					<input type="submit" value="Play" class="btn btn-primary" ng-click="addUser()"/>
					
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<uib-tabset active="insteSearch.user">
						<uib-tab ng-repeat="user in folowed" index="user.name" heading="{{user.name}} - {{user.photos}}"  active="active" ng-click="getInstaInfo(user.name,1)" >
							<div class="container-fluid">
	    						<h1>Gallery</h1> 
	    						<div>
		    						<uib-pagination total-items="user.photos" ng-model="currentPage" 
		    										max-size="5" class="pagination-sm" 
		    										boundary-links="true" num-pages="numPages" items-per-page="20"
		    										ng-change="getInstaInfo(user.name,currentPage)"></uib-pagination>
									<button type="button" class="btn btn-sm btn-danger"
											ng-click="deleteUser(user.name)">Unfollow</button>
		    					</div>
								<div  class="row" 	>
									<div class="col-lg-3 col-sm-4 col-xs-6" ng-repeat="photo in photos">
										<img   class="thumbnail img-responsive" src="{{photo.images.thumbnail.url}}" width="{{photo.images.thumbnail.width}}" height="{{photo.images.thumbnail.height}}">
									</div>
								</div>
        			    </uib-tab>
					</uib-tabset>
				</div>
			</div>
		</form>
	</div>
</div>
